#pageTitle {
    margin-top: 1.5rem;
}

.card-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.blurb-title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1.3rem;
    text-align: center;
}

.ant-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}
